/* ESTILOS LUIS ÁNGEL MARTÍNEZ ROMERO */

/*Comienza el grid*/
section{
    display:grid;/*grid display*/
    grid-template-columns:repeat(12, 1fr);/*columnas*/
    grid-auto-rows: auto;/*lineas*/
    grid: 3rem;}/**/
section>header{
    grid-column:span 12;}
main>{
    grid-column: span 12;
    width:100%;
}
@media (min-width: 1024.1px) {
    main{
    width:100%;
    grid-column:span 8;
    gap: 1rem;
    padding: 0.6rem;
}
}
aside{
    grid-column:span 12;}
@media (min-width: 1024.1px) {
    aside{
    grid-column:span 4;}}
section>footer{
    grid-column:span 12}
/*Termina el grid*/

/* Clases generales */
.cuerpo_blog{
    background-color: black; color: #FFFFFF;
    margin: 0;
}  
.articulo{
    background-color: rgb(44, 43, 43);padding: 1.5rem; border-bottom: 1px solid #FFFFFF }
#titulo_del_blog{
    text-align: center;
    font-size: 3rem;
    padding-top: 6rem ;

}
/* Terminan clases generales*/

/* Barra de navegación */
.resaltado{
    color: yellow/*color de texto*/ }
nav>ul>li {
    list-style:none/*estilo de lista o quitar viñetado*/}
nav>ul>li>a {
    text-decoration: none;/*decoración del texto*/
    color: #FFFFFF;}/*color de texto*/
nav{
    font-size: 1.3rem;/*tamaño de letra*/
    position: fixed;
    width:100%;
    background-color: black;
}
nav>ul>li>a:hover{
    text-decoration: underline;/*decoración del texto*/
    color: greenyellow;} /*color del texto*/
nav>ul{
    display: flex;/*desplegar flex*/
    align-items: center;/*alinear al centro*/
    justify-content: space-around;/*espacio equitativo entre ellos*/
    border-bottom: 1px solid #FFFFFF;/*borde inferior*/
    padding-bottom: 0.5rem;}/*espacio entre borde <ul>*/
nav>ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    border-bottom: 1px solid #fff;
    padding-bottom: 1.5rem;}

@media (min-width: 1100px) {
nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid red;}}
/* Fin de de navegación */

/*Header*/
article>header>hgroup{
    display: flex;/*desplegar flex*/
    align-items: center;/*alinear al centro*/
    justify-content: space-between;}
article>header>hgroup>h2{
    display: flex;/*desplegar flex*/
    align-items: center;/*alinear al centro*/}
article>header>hgroup>h2>img{
    margin-right: 1rem;}
/*Header*/

/* Ilustraciones */

.ilustracion{
    border: 4px solid #FFFFFF;
    display: inline-block;}
.ilustracion figcaption{
    margin-top: 1rem; margin-left: 1rem; font-style:italic}

/* Terminan Ilustraciones */

/*Aside-microblogging*/
aside>h2{
    size: 1.3rem;
    text-align: center;}
aside>div:nth-of-type(even){
    background-color: rgb(44, 43, 43);}
aside>div>img{
    background-color: #FFFFFF;/*fondo*/
    padding: 0.5rem;/**/
    border-radius: 50%;/*borde a círculo*/
    margin:0.5rem 0.5rem 0.5rem 0.5rem;}
aside div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.6rem;
    border-bottom: 1px dashed #fff;
    }
@media (min-width: 1024.1px) and (max-width: 1324.1px) {
aside div {
flex-direction: column;}}

/* Footer del blog */
@media (min-width: 1024.1px){#footer_blog{
    margin: 2rem;
    padding:4rem 0 4rem 0;
    size: 1.3rem;
    /*felxbox*/
    display: flex;/*desplegar flex*/
    align-items: center;/*alinear al centro*/
    justify-content: space-between;}}

#footer_blog {
    grid-column: span 12;
    text-align: center;
    padding:4rem 0 4rem 0;
    size: 1.3rem;
}

#footer_blog div {
    padding:1rem 0 1rem 0;
}


#footer_blog div:nth-child(2){
    font-size:0.9rem }
/* Terminan footer */
 