/* ESTILOS LUIS ÁNGEL MARTÍNEZ ROMERO */

/*Comienza el grid*/
section{
    display:grid;
    grid-template-columns:repeat(12, 1fr);
    grid-auto-rows: auto;
    grid: 3rem;}

section>header{
    grid-column:span 12;}

main{
    grid-column:span 8;}
aside {grid-column:span 4;}
section>footer{grid-column:span 12}

/*Termina el grid*/

/* Clases generales */

.cuerpo_blog{
    background-color: black; color: #FFFFFF}  
.articulo{
    background-color: rgb(44, 43, 43);padding: 1.5rem; border-bottom: 1px solid #FFFFFF }
#titulo_del_blog{
    text-align: center;
    font-size: 3rem }

/* Terminan clases generales*/



/* Barra de navegación */

.resaltado{
    color: yellow }
nav>ul>li {
    list-style:none }
nav>ul>li>a {
    text-decoration: none }

/* Fin de de navegación */




/* Ilustraciones */

.ilustracion{
    border: 4px solid #FFFFFF;
    display: inline-block;}
.ilustracion figcaption{
    margin-top: 1rem; margin-left: 1rem; font-style:italic}

/* Terminan Ilustraciones */



/* Footer del blog */

#footer_blog{
    margin: 2rem;}
/* Terminan footer */

